* {
  margin: 0;
  padding: 0;
}

/*  -----------------  BODY  -----------------  */
.body {
  height: 100vh;
  background-image: linear-gradient(#d3d2d2, #6f71db, #d3d2d2);
}

/*  -----------------  MAIN  -----------------  */
.subir {
  background-color: #1d1b64;
  position: fixed;
  height: 50px;
  width: 50px;
  border: 2px solid #b8b8b8;
  border-radius: 50%;
  right: 20px;
  bottom: 50px;
  text-align: center;
}
.subir i {
  color: #b8b8b8;
  font-size: 35px;
  line-height: 45px;
  text-shadow: 0 0 25px black;
}

html {
  scroll-behavior: smooth;
}

.texto_h3 {
  font-size: 20px;
}

.texto_p, .sub_title {
  color: #3b3b3d;
  font-size: 15px;
}

.title {
  background-color: #1d1b64;
  color: #b8b8b8;
  text-align: center;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-transform: uppercase;
  padding-top: 120px;
}

.nombre_juego {
  border: 2px solid #1f3268;
  text-align: center;
  background-color: #b8b8b8;
  font-size: 30px;
  color: #1d1b64;
}

.sub_title {
  text-align: center;
  text-transform: capitalize;
  font-size: 30px;
  color: #1d1b64;
}

.text-tipo2 {
  text-align: start;
  font-size: 30px;
}

/*  -----------------  INDEX  -----------------  */
.header {
  height: 60px;
}
.header div img {
  width: 240px;
  height: 98px;
}

.carousel {
  padding-bottom: 50px;
}
.carousel .carousel-indicators button {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  background-color: #b8b8b8 !important;
  border: 2px solid #1d1b64 !important;
}
.carousel div .mislider {
  padding-left: 2%;
  padding-right: 2%;
}
.carousel div .mislider .carousel-caption {
  text-align: start !important;
  left: 8%;
}
.carousel .carousel-control-prev {
  width: 8%;
}
.carousel .carousel-control-next {
  width: 8%;
}

.boton {
  background-color: #b8b8b8;
  color: #1d1b64;
  padding: 12px;
  border-radius: 5px;
}
.boton:hover {
  background-color: #1d1b64;
  color: #b8b8b8;
}

.info_1 {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.info_1 div {
  display: flex;
  width: 50%;
  flex-direction: column;
}
.info_1 div iframe {
  padding-left: 20px;
  width: 90%;
  height: 360px;
}
.info_1 .titulo_info1 {
  padding-bottom: 30px;
  text-align: end;
  padding-right: 20px;
  color: #1d1b64;
}
.info_1 .parrafo_info1 {
  text-align: end;
  padding-right: 20px;
  font-size: 18px;
  color: #ffffff;
}

.info_2 {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.info_2 .video_2 {
  align-items: flex-end;
}
.info_2 div {
  display: flex;
  width: 50%;
  flex-direction: column;
}
.info_2 div iframe {
  padding-right: 20px;
  width: 90%;
  height: 360px;
}
.info_2 .titulo_info2 {
  padding-bottom: 30px;
  padding-left: 20px;
  color: #1d1b64;
}
.info_2 .parrafo_info2 {
  padding-left: 20px;
  font-size: 18px;
  color: #ffffff;
}

.fondo {
  background-color: #0000006c;
  margin: 20px;
  margin-left: 10% !important;
  margin-right: 10% !important;
  border-radius: 20px;
}

/*  -----------------  DESCARGAS  -----------------  */
.descargarJuegos {
  display: flex;
  padding: 50px;
}
.descargarJuegos iframe {
  border: 5px solid #1f3268;
  width: 40%;
}
.descargarJuegos div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}
.descargarJuegos h3 {
  font-size: 15px;
  padding-left: 20px;
  color: #ffffff;
}
.descargarJuegos div a {
  padding: 10px;
}
.descargarJuegos div a:hover {
  transform: scale(1.1);
}

/*  -----------------  CAPTURAS  -----------------  */
.galeria div {
  transition: all 1s;
}
.galeria div:hover {
  transform: scale(1.05);
}

/* HELLBLADE SENUA'S SACRIFICE   */
.galeria_hellblade {
  display: grid;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 5%;
  padding-left: 5%;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(3, 400px);
}
.galeria_hellblade .img1hellblade {
  grid-column: 1/3;
  grid-row: 1/2;
  border: 10px solid #e1faff;
  background-image: url(../multimedia/images/capturas_de_pantalla/hellblade_1.jpg);
  background-size: cover;
  background-position: center;
}
.galeria_hellblade .img2hellblade {
  grid-column: 3/4;
  grid-row: 1/3;
  border: 10px solid #e1faff;
  background-image: url(../multimedia/images/capturas_de_pantalla/hellblade_2.jpg);
  background-size: cover;
  background-position: center;
}
.galeria_hellblade .img3hellblade {
  grid-column: 4/5;
  grid-row: 1/2;
  border: 10px solid #e1faff;
  background-image: url(../multimedia/images/capturas_de_pantalla/hellblade_3.jpg);
  background-size: cover;
  background-position: center;
}
.galeria_hellblade .img4hellblade {
  grid-column: 1/3;
  grid-row: 2/4;
  border: 10px solid #e1faff;
  background-image: url(../multimedia/images/capturas_de_pantalla/hellblade_4.jpg);
  background-size: cover;
  background-position: left;
}
.galeria_hellblade .img5hellblade {
  grid-column: 4/5;
  grid-row: 2/3;
  border: 10px solid #e1faff;
  background-image: url(../multimedia/images/capturas_de_pantalla/hellblade_5.jpg);
  background-size: cover;
  background-position: center;
}
.galeria_hellblade .img6hellblade {
  grid-column: 3/5;
  grid-row: 3/4;
  border: 10px solid #e1faff;
  background-image: url(../multimedia/images/capturas_de_pantalla/hellblade_6.jpg);
  background-size: cover;
  background-position: center;
}

/* DARKSIDERS 3  */
.galeria_darksiders3 {
  display: grid;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 5%;
  padding-left: 5%;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(3, 400px);
}
.galeria_darksiders3 .img1darksiders3 {
  grid-column: 1/2;
  grid-row: 1/3;
  border: 10px solid #e1faff;
  background-image: url(../multimedia/images/capturas_de_pantalla/Darksiders3_1.jpg);
  background-size: cover;
  background-position: center;
}
.galeria_darksiders3 .img2darksiders3 {
  grid-column: 2/3;
  grid-row: 1/2;
  border: 10px solid #e1faff;
  background-image: url(../multimedia/images/capturas_de_pantalla/Darksiders3_2.jpg);
  background-size: cover;
  background-position: center;
}
.galeria_darksiders3 .img3darksiders3 {
  grid-column: 3/5;
  grid-row: 1/2;
  border: 10px solid #e1faff;
  background-image: url(../multimedia/images/capturas_de_pantalla/Darksiders3_3.jpg);
  background-size: cover;
  background-position: center;
}
.galeria_darksiders3 .img4darksiders3 {
  grid-column: 2/4;
  grid-row: 2/3;
  border: 10px solid #e1faff;
  background-image: url(../multimedia/images/capturas_de_pantalla/Darksiders3_5.jpg);
  background-size: cover;
  background-position: center;
}
.galeria_darksiders3 .img5darksiders3 {
  grid-column: 4/5;
  grid-row: 2/4;
  border: 10px solid #e1faff;
  background-image: url(../multimedia/images/capturas_de_pantalla/Darksiders3_4.jpg);
  background-size: cover;
  background-position: center;
}
.galeria_darksiders3 .img6darksiders3 {
  grid-column: 1/3;
  grid-row: 3/4;
  border: 10px solid #e1faff;
  background-image: url(../multimedia/images/capturas_de_pantalla/Darksiders3_6.jpg);
  background-size: cover;
  background-position: center;
}
.galeria_darksiders3 .img7darksiders3 {
  grid-column: 3/4;
  grid-row: 3/4;
  border: 10px solid #e1faff;
  background-image: url(../multimedia/images/capturas_de_pantalla/Darksiders3_7.jpg);
  background-size: cover;
  background-position: center;
}

/*  HORIZON ZERO DAWN  */
.galeria_horizonZeroDawn {
  display: grid;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 5%;
  padding-left: 5%;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, 400px);
}
.galeria_horizonZeroDawn .img1HZD {
  grid-column: 1/2;
  grid-row: 1/3;
  border: 10px solid #e1faff;
  background-image: url(../multimedia/images/capturas_de_pantalla/horizon_zero_dawn_1.jpg);
  background-size: cover;
  background-position: center;
}
.galeria_horizonZeroDawn .img2HZD {
  grid-column: 2/3;
  grid-row: 1/2;
  border: 10px solid #e1faff;
  background-image: url(../multimedia/images/capturas_de_pantalla/horizon_zero_dawn_4.jpg);
  background-size: cover;
  background-position: center;
}
.galeria_horizonZeroDawn .img3HZD {
  grid-column: 2/3;
  grid-row: 2/3;
  border: 10px solid #e1faff;
  background-image: url(../multimedia/images/capturas_de_pantalla/horizon_zero_dawn_3.jpg);
  background-size: cover;
  background-position: center;
}
.galeria_horizonZeroDawn .img4HZD {
  grid-column: 1/3;
  grid-row: 3/4;
  border: 10px solid #e1faff;
  background-image: url(../multimedia/images/capturas_de_pantalla/horizon_zero_dawn_2.jpg);
  background-size: cover;
  background-position: center;
}

/* SHADOW OF THE TOMB RAIDER  */
.galeria_shadowOfTheTombRaider {
  display: grid;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 5%;
  padding-left: 5%;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(3, 400px);
}
.galeria_shadowOfTheTombRaider .img1SOTTR {
  grid-column: 1/2;
  grid-row: 1/3;
  border: 10px solid #e1faff;
  background-image: url(../multimedia/images/capturas_de_pantalla/SOTTombRaider_cap1.jpg);
  background-size: cover;
  background-position: center;
}
.galeria_shadowOfTheTombRaider .img2SOTTR {
  grid-column: 2/3;
  grid-row: 1/2;
  border: 10px solid #e1faff;
  background-image: url(../multimedia/images/capturas_de_pantalla/SOTTombRaider_cap2.jpg);
  background-size: cover;
  background-position: center;
}
.galeria_shadowOfTheTombRaider .img3SOTTR {
  grid-column: 3/5;
  grid-row: 1/2;
  border: 10px solid #e1faff;
  background-image: url(../multimedia/images/capturas_de_pantalla/SOTTombRaider_cap4.jpg);
  background-size: cover;
  background-position: center;
}
.galeria_shadowOfTheTombRaider .img4SOTTR {
  grid-column: 2/4;
  grid-row: 2/3;
  border: 10px solid #e1faff;
  background-image: url(../multimedia/images/capturas_de_pantalla/SOTTombRaider_cap5.jpg);
  background-size: cover;
  background-position: center;
}
.galeria_shadowOfTheTombRaider .img5SOTTR {
  grid-column: 4/5;
  grid-row: 2/4;
  border: 10px solid #e1faff;
  background-image: url(../multimedia/images/capturas_de_pantalla/SOTTombRaider_cap3.jpg);
  background-size: cover;
  background-position: left;
}
.galeria_shadowOfTheTombRaider .img6SOTTR {
  grid-column: 1/3;
  grid-row: 3/4;
  border: 10px solid #e1faff;
  background-image: url(../multimedia/images/capturas_de_pantalla/SOTTombRaider_cap6.jpg);
  background-size: cover;
  background-position: center;
}
.galeria_shadowOfTheTombRaider .img7SOTTR {
  grid-column: 3/4;
  grid-row: 3/4;
  border: 10px solid #e1faff;
  background-image: url(../multimedia/images/capturas_de_pantalla/SOTTombRaider_cap7.jpg);
  background-size: cover;
  background-position: center;
}

/* GOD OF WAR  */
.galeria_godOfWar {
  display: grid;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 5%;
  padding-left: 5%;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(2, 400px);
}
.galeria_godOfWar .img1gow {
  grid-column: 1/3;
  grid-row: 1/2;
  border: 10px solid #e1faff;
  background-image: url(../multimedia/images/capturas_de_pantalla/gow1.jpg);
  background-size: cover;
  background-position: center;
}
.galeria_godOfWar .img2gow {
  grid-column: 3/4;
  grid-row: 1/2;
  border: 10px solid #e1faff;
  background-image: url(../multimedia/images/capturas_de_pantalla/gow2.jpg);
  background-size: cover;
  background-position: center;
}
.galeria_godOfWar .img3gow {
  grid-column: 4/5;
  grid-row: 1/3;
  border: 10px solid #e1faff;
  background-image: url(../multimedia/images/capturas_de_pantalla/gow3.jpg);
  background-size: cover;
  background-position: center;
}
.galeria_godOfWar .img4gow {
  grid-column: 1/2;
  grid-row: 2/3;
  border: 10px solid #e1faff;
  background-image: url(../multimedia/images/capturas_de_pantalla/gow4.jpg);
  background-size: cover;
  background-position: center;
}
.galeria_godOfWar .img5gow {
  grid-column: 2/4;
  grid-row: 2/3;
  border: 10px solid #e1faff;
  background-image: url(../multimedia/images/capturas_de_pantalla/gow5.jpg);
  background-size: cover;
  background-position: center;
}

/*  -----------------  GUIAS  -----------------  */
.gameplays_yt {
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 120px;
  margin-left: 10%;
  margin-bottom: 25px;
  margin-top: 20px;
  background-color: #0000006c;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.gameplays_yt h2 {
  align-self: center;
  color: #1d1b64;
}
.gameplays_yt img {
  width: 120px;
  height: 120px;
}
.gameplays_yt img:hover {
  transform: scale(1.1);
}

.guide {
  display: flex;
  flex-direction: column;
}
.guide div div iframe {
  margin: 10px;
  margin-bottom: 10px;
  border: 5px solid #1f3268;
  align-items: center;
}

.guideGalery {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  flex-wrap: wrap;
}

/*  -----------------  CONTACTO  -----------------  */
.somos {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  padding-top: 50px;
  align-items: center;
}

.somos1 h2 {
  width: 30%;
}
.somos1 p {
  width: 70%;
  padding-right: 40px;
  padding-left: 40px;
}

.form {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.form div {
  display: flex;
  width: 500px;
  padding: 10px;
}
.form div label {
  font-size: 15px;
  color: #1f2f5c;
}
.form div input {
  background-color: #b8b8b8;
}
.form div textarea {
  background-color: #b8b8b8;
  resize: none;
}
.form div .btn-send {
  background-color: #b8b8b8;
  color: #1f2f5c;
  padding: 5px;
  width: 500px;
  border-radius: 10px;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: #b8b8b8;
  padding-top: 20px;
}
.footer section {
  display: flex;
  justify-content: space-evenly;
}
.footer div {
  display: flex;
  align-items: center;
}
.footer div a {
  padding: 5px 10px;
}
.footer div p {
  color: #1d1b64;
  font-size: 20px;
}
.footer div img {
  width: 50px;
  height: 50px;
}
.footer li {
  list-style: none;
}
.footer .puntoInteres {
  text-decoration: none;
  color: #1d1b64;
}
.footer .puntoInteres:hover {
  background-color: #1d1b64;
  color: #b8b8b8;
  border-radius: 10px;
}
.footer .enlace:hover {
  transform: scale(1.1);
}

.header {
  height: 120px;
  width: 100%;
  align-items: center;
  position: fixed;
  z-index: 10;
}
.header nav a {
  text-decoration: none;
  color: #1d1b64;
  font-size: 18px;
  text-transform: capitalize;
  font-family: "Yanone Kaffeesatz", sans-serif;
  padding: 5px 10px;
  border-radius: 10px;
}
.header div img:hover {
  transform: scale(1.05);
}
.header .select:hover {
  background-color: #1d1b64;
  color: #b8b8b8;
}
.header .bg-nav {
  background-image: linear-gradient(#b8b8b8, #c8cae0, #b8b8b8);
  text-align: center;
}

@media only screen and (min-width: 720px) and (max-width: 1280px) {
  /* -------------  HEADER  ------------ */
  .header {
    height: 60px;
  }
  .header div img {
    width: 120px;
    height: 40px;
  }
  .header nav a {
    font-size: 14px;
  }

  .title {
    padding-top: 60px;
    font-size: 18px;
  }

  .text-tipo2 {
    font-size: 16px;
  }

  /* ---------------  INDEX  ----------- */
  .carousel {
    padding-bottom: 20px;
  }
  .carousel .carousel-indicators button {
    width: 15px !important;
    height: 15px !important;
  }
  .carousel div .mislider {
    padding-bottom: 3%;
  }
  .carousel div .mislider div .boton {
    font-size: 12px;
    padding: 8px;
  }

  .contenido_index1 iframe {
    width: 100% !important;
    height: 250px !important;
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
  .contenido_index1 .fondo {
    margin-left: 5% !important;
    margin-right: 5% !important;
  }

  /* ---------------  DESCARGAS  --------------------*/
  .descargarJuegos {
    padding: 10px;
  }
  .descargarJuegos div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .descargarJuegos div div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .descargarJuegos iframe {
    width: 50%;
    height: 250px;
    align-self: center;
  }

  /* ---------------  CAPTURAS  -----------*/
  .galeria_hellblade {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(4, 400px);
  }
  .galeria_hellblade .img3hellblade {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .galeria_hellblade .img5hellblade {
    grid-column: 3/4;
    grid-row: 4/5;
  }
  .galeria_hellblade .img6hellblade {
    grid-column: 3/4;
  }

  .galeria_darksiders3 {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(4, 400px);
  }
  .galeria_darksiders3 .img2darksiders3 {
    grid-column: 2/4;
  }
  .galeria_darksiders3 .img3darksiders3 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .galeria_darksiders3 .img5darksiders3 {
    grid-column: 2/4;
    grid-row: 4/5;
  }

  .galeria_shadowOfTheTombRaider {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(4, 400px);
  }
  .galeria_shadowOfTheTombRaider .img2SOTTR {
    grid-column: 2/4;
  }
  .galeria_shadowOfTheTombRaider .img3SOTTR {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .galeria_shadowOfTheTombRaider .img5SOTTR {
    grid-column: 2/4;
    grid-row: 4/5;
  }

  .galeria_godOfWar {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, 400px);
  }
  .galeria_godOfWar .img3gow {
    grid-column: 1/4;
    grid-row: 3/4;
  }

  /* ---------------  GAMEPLAYS  -----------*/
  .gameplays_yt {
    height: 100px;
  }
  .gameplays_yt h2 {
    font-size: 18px;
  }
  .gameplays_yt img {
    width: 100px;
    height: 100px;
    border-left: 10px;
  }
}
@media only screen and (max-width: 719px) {
  /* -------------  HEADER  ------------ */
  .header {
    height: 60px;
  }
  .header div img {
    width: 120px;
    height: 40px;
  }
  .header nav a {
    font-size: 14px;
  }

  .title {
    padding-top: 60px;
    font-size: 18px;
  }

  .text-tipo2 {
    font-size: 8px;
    margin: 0px;
  }

  /* ---------------  INDEX  ----------- */
  .carousel {
    padding-bottom: 10px;
  }
  .carousel .carousel-indicators button {
    width: 5px !important;
    height: 5px !important;
  }
  .carousel div .mislider {
    padding-bottom: 7%;
  }
  .carousel div .mislider div .boton {
    font-size: 8px;
    padding: 2px;
  }

  .info_1 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .info_1 div {
    width: 100%;
  }
  .info_1 div iframe {
    height: 200px !important;
    width: 100% !important;
    padding-left: 3% !important;
    padding-right: 3% !important;
  }
  .info_1 .titulo_info1 {
    text-align: center;
    color: #1d1b64;
    font-size: 16px;
    padding: 5px;
  }
  .info_1 .parrafo_info1 {
    display: none;
  }

  .info_2 {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
  .info_2 div {
    width: 100%;
  }
  .info_2 div iframe {
    height: 200px !important;
    width: 100% !important;
    padding-left: 3% !important;
    padding-right: 3% !important;
  }
  .info_2 .titulo_info2 {
    text-align: center;
    color: #1d1b64;
    font-size: 16px;
    padding: 5px;
  }
  .info_2 .parrafo_info2 {
    display: none;
  }

  .fondo {
    margin-left: 2% !important;
    margin-right: 2% !important;
    border-radius: 10px;
  }

  /* ---------------  DESCARGAS  --------------------*/
  .descargarJuegos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 5px;
  }
  .descargarJuegos div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }
  .descargarJuegos iframe {
    width: 95%;
    height: 200px;
  }

  /* ---------------  CAPTURAS  ----------- */
  .galeria_hellblade {
    display: grid;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 5%;
    padding-left: 5%;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(6, 250px);
  }
  .galeria_hellblade .img1hellblade {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .galeria_hellblade .img2hellblade {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .galeria_hellblade .img3hellblade {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .galeria_hellblade .img4hellblade {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .galeria_hellblade .img5hellblade {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .galeria_hellblade .img6hellblade {
    grid-column: 1/2;
    grid-row: 6/7;
  }

  .galeria_darksiders3 {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(7, 250px);
  }
  .galeria_darksiders3 .img1darksiders3 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .galeria_darksiders3 .img2darksiders3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .galeria_darksiders3 .img3darksiders3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .galeria_darksiders3 .img4darksiders3 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .galeria_darksiders3 .img5darksiders3 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .galeria_darksiders3 .img6darksiders3 {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .galeria_darksiders3 .img7darksiders3 {
    grid-column: 1/2;
    grid-row: 7/8;
  }

  .galeria_horizonZeroDawn {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(4, 250px);
  }
  .galeria_horizonZeroDawn .img1HZD {
    grid-row: 1/2;
  }
  .galeria_horizonZeroDawn .img2HZD {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .galeria_horizonZeroDawn .img3HZD {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .galeria_horizonZeroDawn .img4HZD {
    grid-row: 4/5;
  }

  .galeria_shadowOfTheTombRaider {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(7, 250px);
  }
  .galeria_shadowOfTheTombRaider .img1SOTTR {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .galeria_shadowOfTheTombRaider .img2SOTTR {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .galeria_shadowOfTheTombRaider .img3SOTTR {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .galeria_shadowOfTheTombRaider .img4SOTTR {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .galeria_shadowOfTheTombRaider .img5SOTTR {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .galeria_shadowOfTheTombRaider .img6SOTTR {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .galeria_shadowOfTheTombRaider .img7SOTTR {
    grid-column: 1/2;
    grid-row: 7/8;
  }

  .galeria_godOfWar {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(5, 250px);
  }
  .galeria_godOfWar .img1gow {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .galeria_godOfWar .img2gow {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .galeria_godOfWar .img3gow {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .galeria_godOfWar .img4gow {
    grid-row: 4/5;
  }
  .galeria_godOfWar .img5gow {
    grid-column: 1/2;
    grid-row: 5/6;
  }

  /* ---------------  GUIAS  ----------- */
  .gameplays_yt {
    height: 60px;
  }
  .gameplays_yt h2 {
    font-size: 16px;
  }
  .gameplays_yt img {
    width: 60px;
    height: 60px;
  }

  .guideGalery {
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
  }
  .guideGalery iframe {
    width: 100%;
  }

  /* ---------------  CONTACTANOS  ----------- */
  .somos {
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
  }
  .somos h2 {
    padding: 20px;
  }
  .somos a {
    padding: 20px;
  }
  .somos img {
    width: 100px;
    height: 100px;
  }

  .somos1 p {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }

  .form h3 {
    padding: 10px;
  }
  .form div {
    width: 300px;
  }
  .form div .btn-send {
    width: 300px;
  }

  /* ---------------  FOOTER  ----------- */
  .footer {
    height: 60px;
    padding-top: 10px;
  }
  .footer li {
    font-size: 14px;
  }
  .footer section div p {
    display: none;
  }
  .footer div img {
    width: 35px;
    height: 35px;
  }
}

/*# sourceMappingURL=estilos.css.map */
