
*{
    margin: 0;
    padding: 0;
}

/*  -----------------  BODY  -----------------  */

.body{
    height: 100vh;
    background-image: linear-gradient(rgb(211, 210, 210), rgb(111, 113, 219), rgb(211, 210, 210));
}

/*  -----------------  HEADER  -----------------  */

.header{
    height: 120px;
    width: 100%;
    background-image:linear-gradient( rgb(140, 236, 153),rgb(166, 243, 189),rgb(140, 236, 153)) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
}

.header div img:hover{
    transform: scale(1.1);
}

.header div a{
    padding: 20px;
}

.header nav ul{
    display: flex;
    padding: 10px;
}

.header nav ul li{
    list-style: none;
    margin: 20px;
}

.header nav a{
    text-decoration: none;
    color: #182a5e;
    font-size: 18px;
    text-transform: capitalize;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding: 5px 10px;
    border-radius: 25%;
}

.header nav a:hover{
    background-color: #182a5e;
    color: rgb(140, 236, 153);
}

/*  -----------------  MAIN  -----------------  */

.subir{
    background-color: #182a5e;
    position: fixed;
    height: 50px;
    width: 50px;
    border: 2px solid rgb(140, 236, 153);
    border-radius: 50%;
    right: 20px;
    bottom: 50px;
    text-align: center;
}

.subir i{
    color: rgb(140, 236, 153);
    font-size: 35px;
    line-height: 45px;
    text-shadow: 0 0 25px black;
}

html{
    scroll-behavior: smooth;
}

.texto_h3{
    color: #182a5e;
    font-size: 20px;
}

.texto_p{
    color: #182a5e;
    font-size: 15px;
}

.title{
    background-color: #182a5e;
    color: rgb(140, 236, 153);
    text-align: center;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    padding-top: 120px;
}

.sub_title{
    text-align: center;
    color: #182a5e;
    font-size: 20px;
    text-transform: uppercase;
}

/*  -----------------  MAIN INDEX  -----------------  */

.info_1{
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 20px;
}

.info_1 div{
    display: flex;
    width: 50%;
    flex-direction: column;
}

.info_1 iframe{
    padding-left: 20px;
    width: 70%;
    height: 360px;
}

.titulo_info1{
    padding-bottom: 30px;
    text-align: end;
    padding-right: 20px;
}

.parrafo_info1{
    text-align: end;
    padding-right: 20px;
    font-size: 18px;
}

.info_2{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.info_2 div{
    display: flex;
    width: 50%;
    flex-direction: column;
}

.video_2{
    align-items: flex-end;
}

.info_2 iframe{
    padding-right: 20px;
    width: 70%;
    height: 360px;
}

.titulo_info2{
    padding-bottom: 30px;
    padding-left: 20px;
}

.parrafo_info2{
    padding-left: 20px;
    font-size: 18px;
}


/*  -----------------  MAIN DESCARGAS  -----------------  */

.descargarJuegos{
    display: flex;
    padding: 50px;
}

.descargarJuegos iframe{
    border: 5px solid #1f3268;
    width: 30%;
}

.descargarJuegos div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}

.descargarJuegos div h3{
    padding-left: 20px;
}

.descargarJuegos div div a:hover{
    transform: scale(1.1);
}

.descargarJuegos div div a{
    padding: 10px;
}


/*  -----------------  MAIN CAPTURAS  -----------------  */

.nombre_juego{
    border: 2px solid #1f3268;
    text-align: center;
    background-color: rgb(140, 236, 153);
    font-size: 30px;
}

.galeria div{
    transition: all 1s;
}

.galeria div:hover{
    transform: scale(1.05);
}

            /*  HORIZON ZERO DAWN  */


.galeria_horizonZeroDawn{
    display: grid;
    justify-content: center;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 400px);
}
    
.img1HZD{
    grid-column: 1/2;
    grid-row: 1/3;
    border:10px solid rgb(225, 250, 255);
    background-image: url(../multimedia/images/capturas_de_pantalla/horizon_zero_dawn_1.jpg);
    background-size: cover;
    background-position: center;
}

.img2HZD{
    grid-column: 2/3;
    grid-row: 1/2;
    border:10px solid rgb(225, 250, 255);
    background-image: url(../multimedia/images/capturas_de_pantalla/horizon_zero_dawn_4.jpg);
    background-size: cover;
    background-position: center;
}

.img3HZD{
    grid-column: 2/3;
    grid-row: 2/3;
    border:10px solid rgb(225, 250, 255);
    background-image: url(../multimedia/images/capturas_de_pantalla/horizon_zero_dawn_3.jpg);
    background-size: cover;
    background-position: center;
}

.img4HZD{
    grid-column: 1/3;
    grid-row: 3/4;
    border:10px solid rgb(225, 250, 255);
    background-image: url(../multimedia/images/capturas_de_pantalla/horizon_zero_dawn_2.jpg);
    background-size: cover;
    background-position: center;
}


            /* SHADOW OF THE TOMB RAIDER  */

.galeria_shadowOfTheTombRaider{
    display: grid;
    justify-content:center;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, 400px);
}

.img1SOTTR{
    grid-column: 1/2;
    grid-row: 1/3;
    border:10px solid rgb(225, 250, 255);
    background-image: url(../multimedia/images/capturas_de_pantalla/SOTTombRaider_cap1.jpg);
    background-size: cover;
    background-position: center;
}

.img2SOTTR{
    grid-column: 2/3;
    grid-row: 1/2;
    border:10px solid rgb(225, 250, 255);
    background-image: url(../multimedia/images/capturas_de_pantalla/SOTTombRaider_cap2.jpg);
    background-size: cover;
    background-position: center;
}

.img3SOTTR{
    grid-column: 3/5;
    grid-row: 1/2;
    border:10px solid rgb(225, 250, 255);
    background-image: url(../multimedia/images/capturas_de_pantalla/SOTTombRaider_cap4.jpg);
    background-size: cover;
    background-position: center;
}

.img4SOTTR{
    grid-column: 2/4;
    grid-row: 2/3;
    border:10px solid rgb(225, 250, 255);
    background-image: url(../multimedia/images/capturas_de_pantalla/SOTTombRaider_cap5.jpg);
    background-size: cover;
    background-position: center;
}

.img5SOTTR{
    grid-column: 4/5;
    grid-row: 2/4;
    border:10px solid rgb(225, 250, 255);
    background-image: url(../multimedia/images/capturas_de_pantalla/SOTTombRaider_cap3.jpg);
    background-size: cover;
    background-position:left;
}

.img6SOTTR{
    grid-column: 1/3;
    grid-row: 3/4;
    border:10px solid rgb(225, 250, 255);
    background-image: url(../multimedia/images/capturas_de_pantalla/SOTTombRaider_cap6.jpg);
    background-size: cover;
    background-position: center;
}

.img7SOTTR{
    grid-column: 3/4;
    grid-row: 3/4;
    border:10px solid rgb(225, 250, 255);
    background-image: url(../multimedia/images/capturas_de_pantalla/SOTTombRaider_cap7.jpg);
    background-size: cover;
    background-position: center;
}

/*  -----------------  MAIN GUIAS  -----------------  */

.guide{
    display: flex;
    flex-direction: column;
}

.guide div div iframe{
    margin-top: 10px;
    margin-bottom: 20px;
    border: 5px solid #1f3268;
    align-items: center;
}

.guideGalery{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    flex-wrap: wrap;
}

/*  -----------------  MAIN CONTACTO  -----------------  */

.somos{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    padding-top: 50px;
    align-items: center;
}

.somos1 h2{
    width: 30%;
}

.somos1 p{
    width: 70%;
    padding-right: 40px;
    padding-left: 40px;
}

.form{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.form div{
    padding: 10px;
}

.form div label{
    font-size: 15px;
    color: #1f2f5c;
}

.form div input{
    background-color: rgb(140, 236, 153);
}

.form div textarea{
    background-color: rgb(140, 236, 153);
    resize: none;
}

/*  -----------------  FOOTER  -----------------  */

.footer{
    width: 100%;
    background-color: rgb(140, 236, 153);
}

.footer section{
    display: flex;
    justify-content: space-evenly;
}

.footer div{
    display: flex;
    align-items: center;
}

.footer li{
    list-style: none;
}

.puntoInteres{
    text-decoration: none;
    color: #182a5e;
}

.puntoInteres:hover{
    background-color: #182a5e;
    color: rgb(140, 236, 153);
    border-radius: 25%;
}

.footer section div a{
    padding: 5px 10px;
}

.footer section div p{
    color: #182a5e;
    font-size: 20px;
}

.enlace:hover{
    transform: scale(1.2);
}

/* ------------------------------------------------------------
---------------------  MEDIA QUERIS  --------------------------
-------------------------------------------------------------*/

/* ---------------  TAMAÑO TABLET  ---------------- */

@media only screen and (min-width: 720px) and (max-width: 1280px){

    /* ---------------  INDEX  ----------- */

    .contenido_index1 iframe{
        height: 280px;
    }

    /* ---------------  DESCARGAS  --------------------*/

    .descargarJuegos div{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }

    .descargarJuegos iframe{
        width: 50%;
    }

    .descargarJuegos div div{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }

    /* ---------------  CAPTURAS  -----------*/
 
    .galeria_shadowOfTheTombRaider{
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: repeat(4, 400px);
    }

    .img2SOTTR{
        grid-column: 2/4;
    }

    .img3SOTTR{
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .img5SOTTR{
        grid-column: 2/4;
        grid-row: 4/5;
    }

}

/* ---------------  TAMAÑO MOBILE  ---------------- */

@media only screen and (max-width: 719px){

    /* -------------  HEADER  ------------ */
   
    .header{
        height: 60px;
    }

    .header div img{
        width: 100px;
        height: 50px;
    }

    .header nav a{
        font-size: 10px;
    }

    .title{
        padding-top: 60px;
    }

    /* ---------------  INDEX  ----------- */

    .info_1{
        display: flex;
        align-items: center;
        flex-direction: column; 
    }

    .info_1 div{
        width: 100%;
    }

    .info_1 iframe{
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .titulo_info1{
        text-align: center;
    }
    
    .parrafo_info1{
        display: none;
    }
    
    .info_2{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }

    .info_2 div{
        width: 100%;
    }

    .info_2 iframe{
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }
    
    .titulo_info2{
        text-align: center;
    }
    
    .parrafo_info2{
        display: none;
    }

    /* ---------------  DESCARGAS  --------------------*/

    .descargarJuegos{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        padding: 20px;
    }

    .descargarJuegos div{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        padding: 20px;
    }

    .descargarJuegos iframe{
        width: 80%;
    }

    /* ---------------  CAPTURAS  ----------- */

    .galeria_horizonZeroDawn{
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(4, 250px);
    }

    .img1HZD{
        grid-row: 1/2;
    }

    .img2HZD{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .img3HZD{
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .img4HZD{
        grid-row: 4/5;
    }


    .galeria_shadowOfTheTombRaider{
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(7, 250px);
    }

    .img1SOTTR{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .img2SOTTR{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .img3SOTTR{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    .img4SOTTR{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    
    .img5SOTTR{
        grid-column: 1/2;
        grid-row: 5/6;
    }
    
    .img6SOTTR{
        grid-column: 1/2;
        grid-row: 6/7;
    }
    
    .img7SOTTR{
        grid-column: 1/2;
        grid-row: 7/8;
    }

    /* ---------------  GUIAS  ----------- */

    .guideGalery{
        flex-direction: column;
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .guideGalery iframe{
        width: 100%;
    }


    /* ---------------  CONTACTANOS  ----------- */

    .somos{
        flex-direction: column;
        align-items: center;
        padding-top: 0px;
    }

    .somos h2{
        padding: 20px;
    }

    .somos p{
        padding: 20px;
    }

    .somos a{
        padding: 20px;
    }

    .somos img{
        width: 100px;
        height: 100px;
    }

    .form h3{
        padding: 30px;
    }

    .form div textarea{
        width: 60%;
        padding-left: 20%;
        padding-right: 20%;
    }

    /* ---------------  FOOTER  ----------- */

    .footer section div p{
        display: none;
    }

    .enlace img{
        width: 50px;
        height: 50px;
    }
}

