
.header{
    height: 120px;
    width: 100%;
    align-items: center;
    position: fixed;
    z-index: 10;
    & nav a{
        text-decoration: none;
        color: $color1;
        font-size: 18px;
        text-transform: capitalize;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        padding: 5px 10px;
        border-radius: 10px;
    }
}

.header div img:hover{
    transform: scale(1.05);
}

.select:hover{
    background-color: $color1;
    color: $color2;
}

.bg-nav{
    background-image: map-get($map: $gradiente, $key: grad_2);
    text-align: center;
}
