
@import "_variantes";
@import "_footer";
@import "_header";
@import "_main";

*{
    margin: 0;
    padding: 0;
}

/*  -----------------  BODY  -----------------  */

.body{
    height: 100vh;
    background-image: map-get($map: $gradiente, $key: grad_1);
}

/*  -----------------  MAIN  -----------------  */

.subir{
    background-color: $color1;
    position: fixed;
    height: 50px;
    width: 50px;
    border: 2px solid $color2;
    border-radius: 50%;
    right: 20px;
    bottom: 50px;
    text-align: center;
    & i{
        color: $color2;
        font-size: 35px;
        line-height: 45px;
        text-shadow: 0 0 25px black;
    }
}

html{
    scroll-behavior: smooth;
}

.texto_h3{
    font-size: 20px;
}

.texto_p{
    color: $color4;
    font-size: 15px;
}

.title{
    background-color: $color1;
    color: $color2;
    text-align: center;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    padding-top: 120px;
}

.sub_title{
    @extend .texto_p;
    text-align: center;
    text-transform: uppercase;
}

.text-tipo1{
    color: #000000;
    padding-top: 20px;
    font-size: 30px;
    text-shadow: $color1 (10, 10);
}

.text-tipo2{
    text-align: start;
    font-size: 30px;
}

@import "_mediaQueris720-1280";
@import "_mediaQueris0-719";
