
*{
    margin: 0;
    padding: 0;
}

/*  -----------------  BODY  -----------------  */

.body{
    height: 100vh;
    background-image: map-get($map: $gradiente, $key: grad_1);
}

/*  -----------------  MAIN  -----------------  */

.subir{
    background-color: $color1;
    position: fixed;
    height: 50px;
    width: 50px;
    border: 2px solid $color2;
    border-radius: 50%;
    right: 20px;
    bottom: 50px;
    text-align: center;
    i{
        color: $color2;
        font-size: 35px;
        line-height: 45px;
        text-shadow: 0 0 25px black;
    }
}

html{
    scroll-behavior: smooth;
}

.texto_h3{
    font-size: 20px;
}

.texto_p{
    color: $color4;
    font-size: 15px;
}

.title{
    background-color: $color1;
    color: $color2;
    text-align: center;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    padding-top: 120px;
}

.nombre_juego{
    border: 2px solid #1f3268;
    text-align: center;
    background-color: $color2;
    font-size: 30px;
    color: $color1;
}

.sub_title{
    @extend .texto_p;
    text-align: center;
    text-transform: capitalize;
    font-size: 30px;
    color: $color1;
}

.text-tipo2{
    text-align: start;
    font-size: 30px;
}

/*  -----------------  INDEX  -----------------  */

.header{
    height: 60px;
    div img{
        width: 240px;
        height: 98px;
    }
}

.carousel{
    padding-bottom: 50px;
    .carousel-indicators button{
        width: 20px !important;
        height: 20px !important;
        border-radius: 50%;
        background-color: $color2 !important;
        border: 2px solid $color1 !important;
    }
    div .mislider{
        padding-left: 2%;
        padding-right: 2%;
        .carousel-caption{
            text-align: start !important;
            left: 8%;
        }
    }
    .carousel-control-prev{
        width: 8%;
    }  
    .carousel-control-next{
        width: 8%;
    }
}


.boton{
    background-color: $color2;
    color: $color1;
    padding: 12px;
    border-radius: 5px;
    &:hover{
        background-color: $color1;
        color: $color2;
    }
}

.info_1{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    div{
        display: flex;
        width: 50%;
        flex-direction: column;
        iframe{
            padding-left: 20px;
            width: 90%;
            height: 360px;
        }
    }
    .titulo_info1{
        padding-bottom: 30px;
        text-align: end;
        padding-right: 20px;
        color: $color1;
    }    
    .parrafo_info1{
        text-align: end;
        padding-right: 20px;
        font-size: 18px;
        color: $color5;
    }
}

.info_2{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    .video_2{
        align-items: flex-end;
    }
    div{
        display: flex;
        width: 50%;
        flex-direction: column;
        iframe{
            padding-right: 20px;
            width: 90%;
            height: 360px;
        }
    }
    .titulo_info2{
        padding-bottom: 30px;
        padding-left: 20px;
        color: $color1;
    }    
    .parrafo_info2{
        padding-left: 20px;
        font-size: 18px;
        color: $color5;
    }
}
.fondo{
    background-color: #0000006c;
    margin: 20px;
    margin-left: 10% !important;
    margin-right: 10% !important;
    border-radius: 20px;
}

/*  -----------------  DESCARGAS  -----------------  */

.descargarJuegos{
    display: flex;
    padding: 50px;
    iframe{
        border: 5px solid #1f3268;
        width: 40%;
    }
    div{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 70%;
    }
    h3{
        font-size: 15px;
        padding-left: 20px;
        color: $color5;
    }
    div{ 
        a{ 
            padding: 10px;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}


/*  -----------------  CAPTURAS  -----------------  */

.galeria div{
    transition: all 1s;
    &:hover{
        transform: scale(1.05);
    }    
}

        /* Nier Replicant Ver 1.22474487139   */

.galeria_NierReplicant{
    display: grid;
    justify-content: center;
    @include galery_cap(100%, 20px, 20px, 5%, 5%);
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, 400px);
    .img1NierReplicant{
        grid-column: 1/3;
        grid-row: 1/2;
        border: 10px solid $color3;
        background-image: url(../multimedia/images/capturas_de_pantalla/NieR_Replicant_1.jpg);
        background-size: cover;
        background-position: center;
    }
    .img2NierReplicant{
        grid-column: 3/5;
        grid-row: 1/2;
        border: 10px solid $color3;
        background-image: url(../multimedia/images/capturas_de_pantalla/NieR_Replicant_2.jpg);
        background-size: cover;
        background-position: center;
    }
    .img3NierReplicant{
        grid-column: 1/2;
        grid-row: 2/3;
        border: 10px solid $color3;
        background-image: url(../multimedia/images/capturas_de_pantalla/NieR_Replicant_3.jpg);
        background-size: cover;
        background-position: center;
    }
    .img4NierReplicant{
        grid-column: 1/4;
        grid-row: 3/4;
        border: 10px solid $color3;
        background-image: url(../multimedia/images/capturas_de_pantalla/NieR_Replicant_4.jpg);
        background-size: cover;
        background-position: center;
    }
    .img5NierReplicant{
        grid-column: 2/4;
        grid-row: 2/3;
        border: 10px solid $color3;
        background-image: url(../multimedia/images/capturas_de_pantalla/NieR_Replicant_5.jpg);
        background-size: cover;
        background-position: center;
    }
    .img6NierReplicant{
        grid-column: 4/5;
        grid-row: 2/4;
        border: 10px solid $color3;
        background-image: url(../multimedia/images/capturas_de_pantalla/NieR_Replicant_6.jpg);
        background-size: cover;
        background-position: center;
    }
}

        /* HELLBLADE SENUA'S SACRIFICE   */

.galeria_hellblade{
    display: grid;
    justify-content: center;
    @include galery_cap(100%, 20px, 20px, 5%, 5%);
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, 400px);
    .img1hellblade{
        grid-column: 1/3;
        grid-row: 1/2;
        border: 10px solid $color3;
        background-image: url(../multimedia/images/capturas_de_pantalla/hellblade_1.jpg);
        background-size: cover;
        background-position: center;
    }
    .img2hellblade{
        grid-column: 3/4;
        grid-row: 1/3;
        border: 10px solid $color3;
        background-image: url(../multimedia/images/capturas_de_pantalla/hellblade_2.jpg);
        background-size: cover;
        background-position: center;
    }
    .img3hellblade{
        grid-column: 4/5;
        grid-row: 1/2;
        border: 10px solid $color3;
        background-image: url(../multimedia/images/capturas_de_pantalla/hellblade_3.jpg);
        background-size: cover;
        background-position: center;
    }
    .img4hellblade{
        grid-column: 1/3;
        grid-row: 2/4;
        border: 10px solid $color3;
        background-image: url(../multimedia/images/capturas_de_pantalla/hellblade_4.jpg);
        background-size: cover;
        background-position: left;
    }
    .img5hellblade{
        grid-column: 4/5;
        grid-row: 2/3;
        border: 10px solid $color3;
        background-image: url(../multimedia/images/capturas_de_pantalla/hellblade_5.jpg);
        background-size: cover;
        background-position: center;
    }
    .img6hellblade{
        grid-column: 3/5;
        grid-row: 3/4;
        border: 10px solid $color3;
        background-image: url(../multimedia/images/capturas_de_pantalla/hellblade_6.jpg);
        background-size: cover;
        background-position: center;
    }
}

        /* DARKSIDERS 3  */

.galeria_darksiders3{
    display: grid;
    justify-content: center;
    @include galery_cap(100%, 20px, 20px, 5%, 5%);
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, 400px);
    .img1darksiders3{
        grid-column: 1/2;
        grid-row: 1/3;
        border: 10px solid $color3;
        background-image: url(../multimedia/images/capturas_de_pantalla/Darksiders3_1.jpg);
        background-size: cover;
        background-position: center;
    }
    .img2darksiders3{
        grid-column: 2/3;
        grid-row: 1/2;
        border: 10px solid $color3;
        background-image: url(../multimedia/images/capturas_de_pantalla/Darksiders3_2.jpg);
        background-size: cover;
        background-position: center;
    }
    .img3darksiders3{
        grid-column: 3/5;
        grid-row: 1/2;
        border: 10px solid $color3;
        background-image: url(../multimedia/images/capturas_de_pantalla/Darksiders3_3.jpg);
        background-size: cover;
        background-position: center;
    }
    .img4darksiders3{
        grid-column: 2/4;
        grid-row: 2/3;
        border: 10px solid $color3;
        background-image: url(../multimedia/images/capturas_de_pantalla/Darksiders3_5.jpg);
        background-size: cover;
        background-position: center;
    }
    .img5darksiders3{
        grid-column: 4/5;
        grid-row: 2/4;
        border: 10px solid $color3;
        background-image: url(../multimedia/images/capturas_de_pantalla/Darksiders3_4.jpg);
        background-size: cover;
        background-position: center;
    }
    .img6darksiders3{
        grid-column: 1/3;
        grid-row: 3/4;
        border: 10px solid $color3;
        background-image: url(../multimedia/images/capturas_de_pantalla/Darksiders3_6.jpg);
        background-size: cover;
        background-position: center;
    }
    .img7darksiders3{
        grid-column: 3/4;
        grid-row: 3/4;
        border: 10px solid $color3;
        background-image: url(../multimedia/images/capturas_de_pantalla/Darksiders3_7.jpg);
        background-size: cover;
        background-position: center;
    }
}

        /*  HORIZON ZERO DAWN  */

.galeria_horizonZeroDawn{
    display: grid;
    justify-content: center;
    @include galery_cap(100%, 20px, 20px, 5%, 5%);
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 400px);
    .img1HZD{
        grid-column: 1/2;
        grid-row: 1/3;
        border: 10px solid $color3;
        background-image: url(../multimedia/images/capturas_de_pantalla/horizon_zero_dawn_1.jpg);
        background-size: cover;
        background-position: center;
    }
    .img2HZD{
        grid-column: 2/3;
        grid-row: 1/2;
        border: 10px solid $color3;
        background-image: url(../multimedia/images/capturas_de_pantalla/horizon_zero_dawn_4.jpg);
        background-size: cover;
        background-position: center;
    }
    .img3HZD{
        grid-column: 2/3;
        grid-row: 2/3;
        border: 10px solid $color3;
        background-image: url(../multimedia/images/capturas_de_pantalla/horizon_zero_dawn_3.jpg);
        background-size: cover;
        background-position: center;
    }
    .img4HZD{
        grid-column: 1/3;
        grid-row: 3/4;
        border: 10px solid $color3;
        background-image: url(../multimedia/images/capturas_de_pantalla/horizon_zero_dawn_2.jpg);
        background-size: cover;
        background-position: center;
    }
}

        /* SHADOW OF THE TOMB RAIDER  */

.galeria_shadowOfTheTombRaider{
    display: grid;
    justify-content: center;
    @include galery_cap(100%, 20px, 20px, 5%, 5%);
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, 400px);
    .img1SOTTR{
        grid-column: 1/2;
        grid-row: 1/3;
        border: 10px solid $color3;
        background-image: url(../multimedia/images/capturas_de_pantalla/SOTTombRaider_cap1.jpg);
        background-size: cover;
        background-position: center;
    }
    .img2SOTTR{
        grid-column: 2/3;
        grid-row: 1/2;
        border: 10px solid $color3;
        background-image: url(../multimedia/images/capturas_de_pantalla/SOTTombRaider_cap2.jpg);
        background-size: cover;
        background-position: center;
    }
    .img3SOTTR{
        grid-column: 3/5;
        grid-row: 1/2;
        border: 10px solid $color3;
        background-image: url(../multimedia/images/capturas_de_pantalla/SOTTombRaider_cap4.jpg);
        background-size: cover;
        background-position: center;
    }
    .img4SOTTR{
        grid-column: 2/4;
        grid-row: 2/3;
        border: 10px solid $color3;
        background-image: url(../multimedia/images/capturas_de_pantalla/SOTTombRaider_cap5.jpg);
        background-size: cover;
        background-position: center;
    }
    .img5SOTTR{
        grid-column: 4/5;
        grid-row: 2/4;
        border: 10px solid $color3;
        background-image: url(../multimedia/images/capturas_de_pantalla/SOTTombRaider_cap3.jpg);
        background-size: cover;
        background-position: left;
    }
    .img6SOTTR{
        grid-column: 1/3;
        grid-row: 3/4;
        border: 10px solid $color3;
        background-image: url(../multimedia/images/capturas_de_pantalla/SOTTombRaider_cap6.jpg);
        background-size: cover;
        background-position: center;
    }
    .img7SOTTR{
        grid-column: 3/4;
        grid-row: 3/4;
        border: 10px solid $color3;
        background-image: url(../multimedia/images/capturas_de_pantalla/SOTTombRaider_cap7.jpg);
        background-size: cover;
        background-position: center;
    }
}

        /* GOD OF WAR  */

.galeria_godOfWar{
    display: grid;
    justify-content: center;
    @include galery_cap(100%, 20px, 20px, 5%, 5%);
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 400px);
    .img1gow{
        grid-column: 1/3;
        grid-row: 1/2;
        border: 10px solid $color3;
        background-image: url(../multimedia/images/capturas_de_pantalla/gow1.jpg);
        background-size: cover;
        background-position: center;
    }
    .img2gow{
        grid-column: 3/4;
        grid-row: 1/2;
        border: 10px solid $color3;
        background-image: url(../multimedia/images/capturas_de_pantalla/gow2.jpg);
        background-size: cover;
        background-position: center;
    }
    .img3gow{
        grid-column: 4/5;
        grid-row: 1/3;
        border: 10px solid $color3;
        background-image: url(../multimedia/images/capturas_de_pantalla/gow3.jpg);
        background-size: cover;
        background-position: center;
    }
    .img4gow{
        grid-column: 1/2;
        grid-row: 2/3;
        border: 10px solid $color3;
        background-image: url(../multimedia/images/capturas_de_pantalla/gow4.jpg);
        background-size: cover;
        background-position: center;
    }
    .img5gow{
        grid-column: 2/4;
        grid-row: 2/3;
        border: 10px solid $color3;
        background-image: url(../multimedia/images/capturas_de_pantalla/gow5.jpg);
        background-size: cover;
        background-position: center;
    }
}

/*  -----------------  GUIAS  -----------------  */

.gameplays_yt{
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 120px;
    margin-left: 10%;
    margin-bottom: 25px;
    margin-top: 20px;
    background-color: #0000006c;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    h2{
        align-self: center;
        color: $color1;
    }
    img{
        width: 120px;
        height: 120px;
        &:hover{
            transform: scale(1.1);
        }
    }
}

.guide{
    display: flex;
    flex-direction: column;
    div div iframe{
        margin: 10px;
        margin-bottom: 10px;
        border: 5px solid #1f3268;
        align-items: center;
    }
}

.guideGalery{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    flex-wrap: wrap;
}

/*  -----------------  CONTACTO  -----------------  */

.somos{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    padding-top: 50px;
    align-items: center;
}

.somos1{
    h2{
        width: 30%;
    }
    p{
        width: 70%;
        padding-right: 40px;
        padding-left: 40px;
    }
}

.form{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    div{
        display: flex;
        width: 500px;
        padding: 10px;
        label{
            font-size: 15px;
            color: #1f2f5c;
        }
        input{
            background-color: $color2;
        }
        textarea{
            background-color: $color2;
            resize: none;
        }
        .btn-send{
            background-color: $color2;
            color: #1f2f5c;
            padding: 5px;
            width: 500px;
            border-radius: 10px;
        }
    }
}