
$color1: #1d1b64;
$color2: #b8b8b8;
$color3: rgb(225, 250, 255);
$color4: #3b3b3d;
$color5: #ffffff;

@mixin galery_cap($widht, $pad-t, $pad-b, $pad-r, $pad-l){ 
    width: $widht;
    padding-top : $pad-t;
    padding-bottom: $pad-b;
    padding-right: $pad-r;
    padding-left: $pad-l;
    }

$gradiente: ("grad_1": linear-gradient(rgb(211, 210, 210), rgb(111, 113, 219), rgb(211, 210, 210)), "grad_2": linear-gradient($color2,rgb(200, 202, 224),$color2));

