@import "../base/variantes";

@media only screen and (max-width: 719px){

    /* -------------  HEADER  ------------ */
   
    .header{
        height: 60px;
        div img{
            width: 120px;
            height: 40px;
        }
        nav a{
            font-size: 14px;
        }
    }

    .title{
        padding-top: 60px;
        font-size: 18px;
    }

    .text-tipo2{
        font-size: 8px;
        margin: 0px;
    }

    /* ---------------  INDEX  ----------- */
    .carousel{
        padding-bottom: 10px;
        .carousel-indicators button{
            width: 5px !important;
            height: 5px !important;
        }
        div .mislider{
            padding-bottom: 7%;
            div .boton{
                font-size: 8px;
                padding: 2px;
            }
        }
    }
       
    .info_1{
        display: flex;
        align-items: center;
        flex-direction: column;
        div{
            width: 100%;
            iframe{
                height: 200px !important;
                width: 100% !important;
                padding-left: 3% !important;
                padding-right: 3% !important;
            }
        }
        .titulo_info1{
            text-align: center;
            color: $color1;
            font-size: 16px;
            padding: 5px;
        }
        .parrafo_info1{
            display: none;
        }
    }

    .info_2{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        div{
            width: 100%;
            iframe{
                height: 200px !important;
                width: 100% !important;
                padding-left: 3% !important;
                padding-right: 3% !important;
            }
        }
        .titulo_info2{
            text-align: center;
            color: $color1;
            font-size: 16px;
            padding: 5px;
        }
    
        .parrafo_info2{
            display: none;
        }
    }
    .fondo{
        margin-left: 2% !important;
        margin-right: 2% !important;
        border-radius: 10px;
    }

    /* ---------------  DESCARGAS  --------------------*/

    .descargarJuegos{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        padding: 5px;
        div{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            padding: 20px;
        }
        iframe{
            width: 95%;
            height: 200px;
        }
    }

    /* ---------------  CAPTURAS  ----------- */

    .galeria_horizonZeroDawn{
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(4, 250px);
        .img1HZD{
            grid-row: 1/2;
        }
        .img2HZD{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .img3HZD{
            grid-column: 1/2;
            grid-row: 3/4;
        }
        .img4HZD{
            grid-row: 4/5;
        }
    }

    .galeria_shadowOfTheTombRaider{
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(7, 250px);
        .img1SOTTR{
            grid-column: 1/2;
            grid-row: 1/2;
        }
        .img2SOTTR{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .img3SOTTR{
            grid-column: 1/2;
            grid-row: 3/4;
        }
        .img4SOTTR{
            grid-column: 1/2;
            grid-row: 4/5;
        }
        .img5SOTTR{
            grid-column: 1/2;
            grid-row: 5/6;
        }
        .img6SOTTR{
            grid-column: 1/2;
            grid-row: 6/7;
        }
        .img7SOTTR{
            grid-column: 1/2;
            grid-row: 7/8;
        }
    }

    .galeria_godOfWar{
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(5, 250px);
        .img1gow{
            grid-column: 1/2;
            grid-row: 1/2;
        }
        .img2gow{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .img3gow{
            grid-column: 1/2;
            grid-row: 3/4;
        }
        .img4gow{
            grid-row: 4/5;
        }    
        .img5gow{
            grid-column: 1/2;
            grid-row: 5/6;
        }
    }

    /* ---------------  GUIAS  ----------- */

    .guideGalery{
        flex-direction: column;
        padding-left: 10%;
        padding-right: 10%;  
        iframe{
            width: 100%;
        }
    }

    /* ---------------  CONTACTANOS  ----------- */

    .somos{
        flex-direction: column;
        align-items: center;
        padding-top: 0px;
        h2{
            padding: 20px;
        }
        a{
            padding: 20px;
        }
        img{
            width: 100px;
            height: 100px;
        }
    }

    .somos1{
        p{
            width: 100%;
            padding-right: 0px;
            padding-left: 0px;
        }
    }

    .form{
        h3{
            padding: 10px;
        }
        div{
            width: 300px;
            .btn-send{
                width: 300px;
            }
        }  
    }

    /* ---------------  FOOTER  ----------- */

    .footer{
        li{
            font-size: 14px;
        }
        section div p{
            display: none;
        }
        div img{
            width: 35px;
            height: 35px;
        }
    }
}